
extends ../layout

block content
  h1= title

  include errors
  form(action="/books/" + book.id + "/update-book", method="post")
      p
        label(for="title") Title:
        input(type="text", name="title" value=book.title)
      p
        label(for="author") Author:
        input(type="text", name="author" value=book.author)
      p
        label(for="Genre") Genre:
        input(type="text", name="genre" value=book.genre)
      p
        label(for="Year") Year:
        input(type="text", name="year" value=book.year)
      p
      input( type="submit" value="Update Book")
      p
        a(class="button" href="../")  Cancel / Go back
      p
        a(class="button" href="/books/" + book.id + "/delete") Delete Book